[Desktop Entry]
Type=Application
Name=v2rayG
Comment=V2Ray 图形化代理客户端
Exec=env FYNE_PLATFORM=x11 /usr/bin/v2ray-gui
Icon=v2ray-gui
Terminal=false
StartupWMClass=v2rayG
Categories=Network;
